###--- C/C++ ---###

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

###--- Python ---###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

###--- More ---###

# IDE files
.kdev4/*
CDT_2D.kdev4

# Folders
bin/*
doc/*
output/*
test/*
lib/__pycache__/*

# Other
.directory
main_test.cpp
