# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE files
.kdev4/*
CDT_2D.kdev4

# Folders
bin/*
build/*
doc/*
output/*
test/*
CMakeFiles/*
lib/__pycache__/*

# Other
.directory
