###--- C/C++ ---###

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

###--- Python ---###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

###--- More ---###

# IDE files
.kdev4/*
CDT_2D.kdev4

# Folders
bin/*
build/*
doc/*
lib/__pycache__/*
output/*
test/build/*
test/out/*
!test/out/launch.sh
test/record/*

# Other
.directory
config.json
main_test.cpp
